body{
    background-color: teal;
    color: whitesmoke;
}
.btn{
    padding: 4px;
    border-radius: 4px;
    font-size: 1.2em;
    margin-top: 50px;
    margin-left: 100px;
}
.btn-choose{
    background-color: tomato;
    color: whitesmoke;
}